{{#overview}}{{{overview}}}{{/overview}}

{{#modules}}

---

{{#functions}}
{{> function}}

{{/functions}}
{{#classes}}
{{> class}}

{{/classes}}

{{/modules}}
---

{{#author}}*Author:* {{author}}{{/author}}
{{#copyright}}*{{copyright}}*{{/copyright}}


{{#license}}**License:** {{license}}{{/license}}

{{#version}}**Version:** {{version}}{{/version}}
